# Ignore environment variable files
.env
.env.*
!.env.example

# Ignore all Markdown files EXCEPT README.md / readme.md
*.md
!README.md
!readme.md
!Readme.md

# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.vercel
